.example-container {
    height: 350px;
    width: auto;
    overflow: auto;
  }
  
  table {
    width: auto;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-competitor,
  td.mat-column-competitor {
    padding-left: 8px;
  }
  
  td[id^="marketShare"] {
    white-space: pre;
  }
  
  th[id^="marketShare"] {
    text-align: center;
    // border-right: 1px solid #e0e0e0;
  }
  
  // .mat-column-competitor:first-child {
  //   border-right: 1px solid #e0e0e0;
  // }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }