/* Global Styles */

@mixin color-transition($attribute) {
  webkit-transition: $attribute 0.5s;
  transition: $attribute 0.5s;
}

html, body {
  margin: 0;
  padding: 0;  
  background-color: $white;
  font-family: "Futura Book", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-size: 10px;
}
.page-wrapper {
  height: 99.9%;
}
